<body class="welcome-body">
  <div id="welcome-buttons">
  <button><a id="black" href="<%= login_path %>">LOGIN.</a></button>
  <button><a id="black" href="<%= new_user_path %>">SIGN UP.</a></button>
</div>
</body>
