body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  position: relative;
  z-index: 1;
  margin: 0;
}
* {
  -webkit-box-sizing: border-box;
}
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

#new-trip-form{
  height: 214px;
  width: 400px;
  border: 1px solid black;
  position: absolute;
  top: 30%;
  left: 35%;
  background-color: white;
  display: none;

}
#new_wishlist {
  width: 400px;
  text-align: center;
  margin: 0;
}
#new_wishlist input {
  border: 0;
  border-bottom: 1px solid black;
}
#new_wishlist #submit {
  margin-top: 2em;
  width: 100%;
}
#new_wishlist .trip-form-content {
  margin-top: 2em;
}
#new_wishlist #wishlist_tentative_dates {
padding-top: 4em;
margin-left: 9em;
}
#new_trip input, .edit_trip input{
  width: 100%;
  border: 0;
  border-bottom: 1px solid black;
  outline: 0;
}

.trip-form-content{
  margin-bottom: 1em;
}

.trip-form-content .field{
  width: 50%;
  padding-right: 1%;
  float: left;
}

#new_trip{
  width: 400px;
  text-align: center;
}
#trip_description {
  outline: 0  ;
  border: 0;
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  width: 100%;
}

.edit_trip{
  width: 100%;
}

#trip-data{
  height: 120px;
  background-color: black;
}
#trip-data a {
  color: white;
  font-family: 'Philosopher', sans-serif;
  font-size: 20px;
    text-decoration: none;
}

header {
  height: 120px;
  background-color: black;
  text-align: center;
}

header h2{
  margin: 0;
  padding-top: 5px;
  color: white;
  font-family: 'Philosopher', sans-serif;
}

header h3, h3{
  color: white;
  font-family: 'Sacramento', cursive;
}

#map-key{
position: absolute;
width: 15%;
top: 361px;
border: 1px solid black;
}

#new-trip-link{
  position: absolute;
  left: 42%;
}

#logout{
  position: absolute;
  top: 0;
  right: 23px;
}
